//
// Style Markdown content
//

.td-content {
    order: 1;

    font-size: 0.9rem;

    padding: 0.5rem 2rem 0px 0.8rem;

    p {
      margin: 0.8rem 0;
    }
    p, li, td {
        font-weight: $font-weight-body-text;
    }

    ul {
      margin-top: 0.4rem;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $veertu-purple;
    }

    > h1 {
      font-weight: $font-weight-bold;
      margin-bottom: 1rem;
    }

    h1, h2 {
      font-weight: $font-weight-bold;
      margin-left: -1rem !important;
    }

    h3 {
      font-weight: $font-weight-bold;
      margin-left: -0.7rem !important;
    }

    h4 {
      border-bottom: 1px solid #ccc;
      font-weight: $font-weight-bold;
      font-size: 1.1rem;
      margin-left: -0.3rem !important;
    }

    h5 {
      font-weight: $font-weight-bold;
      font-size: 1.1rem;
      margin-top: 1.5rem !important;
      margin-left: 0rem !important;
    }

    > h2 {
      margin-bottom: 1rem;
    }

    // > h2:not(:first-child) {
    //   margin-top: 3rem;
    // }

    > h2 + h3 {
        margin-top: 1rem;
    }

    > h3, > h4, > h5, > h6 {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    li {
        h4, h5 {
            margin: 1rem 0rem 0.5rem -0.3rem;
        }
    }

    img {
        margin: 1rem 0;
        @extend .img-fluid;
    }

    > table {
        @extend .table-striped;

        @extend .table-responsive;

        @extend .table;
    }

    > blockquote {
        // padding: 0 0 0 1rem;
        margin-bottom: $spacer;
        color: $gray-600;

        > p {
          margin: 0px;
        }
    }

    > ul li, > ol li {
        font-size: 1rem;
        margin-bottom: .25rem;
    }

    strong {
        font-weight: $font-weight-bold;
    }

    > pre, > .highlight, > .lead, > h1, > h2, > ul, > ol, > p, > blockquote, > dl dd, .footnotes, > .alert {
        @extend .td-max-width-on-larger-screens;
    }

    .alert:not(:first-child) {
        margin-top: 2 * $spacer;
        margin-bottom: 2 * $spacer;
    }

    .lead {
        margin-bottom: 1.5rem;
    }
}

.td-title {
    margin-top: 1rem;
    margin-bottom: .5rem;

    @include media-breakpoint-up(sm) {
        font-size: 3rem;
    }
}