.table {
  table-layout: fixed;
  display:table !important;

  td {
    padding: .5em!important;
    text-wrap: balance;
    overflow-wrap: break-word
  }
  th:first-child,
  td:first-child {
      font-weight: bold;
  }
}

// The dropdown menu
.dropdown-menu {
  height: 60vh;
  overflow-y: auto;
}